<h1>Listing Users</h1>
 
<table>
  <tr>
    <th>email</th>
    <th>name</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
    </tr>
  <% end %>
</table>